{% extends 'base.html' %}

{% load static %}
{% block title %}<title>Foodplan 2021 - Меню на неделю FOODPLAN</title> {% endblock %}

{% block header_buttons %}
    <h3 class="text-secondary mt-2 me-2">Стоимость: 00000₽</h3>
    <button form="order" type="submit"
            class="btn shadow-none btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить
    </button>
{% endblock %}


{% block content %}
  <main style="margin-top: calc(2rem + 85px);">
    <section>
      <div class="container">
        <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
        <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и
          Кето.</h5>
        <div class="row mb-5">
          <div class="col-6 col-md-3">

            <label for="classic" class="position-relative" style="cursor: pointer;">
              <img src="{% static 'img/menu_classical.png' %}" alt="" class="w-100">
              <input form="order" type="radio" name="foodtype" id="classic" value="CLASSIC"
                     class="foodplan_selected d-none">
              <div class="img_selected" id="img1"></div>
            </label>
          </div>
          <div class="col-6 col-md-3">

            <label for="low" class="position-relative" style="cursor: pointer;">
              <img src="{% static 'img/menu_nizkougl.png' %}" alt="" class="w-100">
              <input form="order" type="radio" name="foodtype" id="low" value="LOW_CARB" class="foodplan_selected d-none">
              <div class="img_selected" id="img2"></div>
            </label>
          </div>
          <div class="col-6 col-md-3">

            <label for="veg" class="position-relative" style="cursor: pointer;">
              <img src="{% static 'img/menu_veg.png' %}" alt="" class="w-100">
              <input form="order" type="radio" name="foodtype" id="veg" value="VEGITARIAN" class="foodplan_selected d-none">
              <div class="img_selected" id="img3"></div>
            </label>
          </div>
          <div class="col-6 col-md-3">

            <label for="keto" class="position-relative" style="cursor: pointer;">
              <img src="{% static 'img/menu_keto.png' %}" alt="" class="w-100">
              <input form="order" type="radio" name="foodtype" id="keto" value="KETO" class="foodplan_selected d-none">
              <div class="img_selected" id="img4"></div>
            </label>
          </div>
        </div>
        <h2><strong>Выберите подходящий тариф</strong></h2>
        <form id="order" method="post">
          {% csrf_token %}
          <table class="table text-center text-truncate mb-5">
            <tbody>
            <tr>
              <th scope="row" class="text-start">Срок</th>
              <td>
                <select name="TIME" class="form-select">
                  <option value="1" selected>1 мес.</option>
                  <option value="3">3 мес.</option>
                  <option value="6">6 мес.</option>
                  <option value="12">12 мес.</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Завтраки</th>
              <td>
                <select name="BREAKFAST" class="form-select">
                  <option value="1" selected>&#10004;</option>
                  <option value="0">&#10008;</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Обеды</th>
              <td>
                <select name="LUNCH" class="form-select">
                  <option value="1" selected>&#10004;</option>
                  <option value="0">&#10008;</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Ужины</th>
              <td>
                <select name="DINNER" class="form-select">
                  <option value="1" selected>&#10004;</option>
                  <option value="0">&#10008;</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Десерты</th>
              <td>
                <select name="DESSERT" class="form-select">
                  <option value="1" selected>&#10004;</option>
                  <option value="0">&#10008;</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Кол-во персон</th>
              <td>
                <select name="person" class="form-select">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Аллергии</th>
              <td>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="FISH_AND_SEAFOOD" name="allergy0">
                  <label class="form-check-label" for="allergy0">
                    Рыба и морепродукты
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="MEAT" name="allergy1">
                  <label class="form-check-label" for="allergy1">
                    Мясо
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="GRAINS" name="allergy2">
                  <label class="form-check-label" for="allergy2">
                    Зерновые
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="BEE_PRODUCTS" name="allergy3">
                  <label class="form-check-label" for="allergy3">
                    Продукты пчеловодства
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="NUTS_AND_BEANS" name="allergy4">
                  <label class="form-check-label" for="allergy4">
                    Орехи и бобовые
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="MILK_PRODUCTS" name="allergy5">
                  <label class="form-check-label" for="allergy5">
                    Молочные продукты
                  </label>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <button type="submit" id="TableSubmit" class="d-none"></button>
        </form>

        <form class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
          <label for="exampleInputPassword1" class="form-label me-2">Промокод</label>
          <input type="password" class="form-control me-2" id="password">
          <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">
            Применить
          </button>
        </form>
        <div class="d-flex justify-content-center my-5">
          <button form="order" type="submit"
                  class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Оплатить
          </button>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
