{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
    <div class="container">
      <a class="navbar-brand" href="{% url 'meal_app:index' %}">
        <img src="{% static 'img/logo.8d8f24edbb5f.svg' %} " height="55" width="189" alt="">
      </a>

      {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse1">
          <ul class="navbar-nav w-100">
            <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">
              <a href="{% url 'users:profile' user.username %}">
                <button class="btn shadow-none btn-outline-success me-2 foodplan_green foodplan__border_green">
                  Личный кабинет ({{ user.username }})
                </button>
              </a>
              <a href="{% url 'users:logout' %}">
                <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Выйти
                </button>
              </a>
            </li>
          </ul>
        </div>

      {% else %}
        <div class="collapse navbar-collapse" id="navbarCollapse1">
          <ul class="navbar-nav w-100">
            <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">
              <a href="{% url 'users:login' %}">
                <button class="btn shadow-none btn-outline-success me-2 foodplan_green foodplan__border_green">Войти
                </button>
              </a>

              <a href="{% url 'users:signup' %}">
                <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Регистрация
                </button>
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  </nav>
</header>