{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Foodplan 2021 - Меню на неделю FOODPLAN</title> {% endblock %}

{% block content %}
  <main style="margin-top: calc(2rem + 85px);">
    <section>
      <div class="container">

        {% include 'includes/content_header.html' with header_text='Авторизация' %}

        <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
          <h1 class="mb-4 text-center"><strong>Вход</strong></h1>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center justify-content-between">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                <small><a href="{% url 'users:password_reset' %}" class="link-dark foodplan_green">Забыли
                  пароль?</a></small>
              </div>
              {{ form.password|add_class:"form-control" }}
            </div>
            <div class="row mb-3">
              <div class="col-12 col-sm-6 mt-3">
                <button type="submit"
                        value="login"
                        class="btn w-100 btn-outline-success shadow-none foodplan_green foodplan__border_green">Войти
                </button>
              </div>
              <div class="col-12 col-sm-6 mt-3 d-flex justify-content-center align-items-center">
                <small>Нет аккаунта? <a href="{% url 'users:signup' %}" class="link-dark foodplan_green">Зарегистрируйтесь</a></small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}


